@{
    ViewData["Title"] = "Home Page";
}
   <style>
        body {
            background-image: url("GolfBkgdf.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-color: forestgreen;
            text-align: right;
            margin-bottom: -200px;
        }

        /* Media queries for responsive images */
        @@media (max-width: 600px) {
            body {
                background-image: url('GolfBkgdf.jpg');
                background-size: cover;
                background-position: center;
            }
        }

        @@media (min-width: 801px) and (max-width: 1200px) {
            body {
                background-image: url('GolfBkgdf.jpg');
            }
        }
    </style>

    <div class="container-fluid">
        <script type="text/javascript">
            const isTouchScreen = 'ontouchstart' in window || navigator.maxTouchPoints > 0;
        </script>
    </div>