@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" >
    <style >
        body {
            background-image: url("GolfBkgdf.jpg");
         
            background-color: forestgreen;text-align: right; margin-bottom: -200px;
        }
    </style>
    <script type="text/javascript">
        if (isTouchScreen === true) {
        alert("You are using a touch screen
        } else {
        alert("You are not using a touch screen")
        }
    </script>

</div>
