@model Event
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div style="margin-top: -50px">
    <form id="deleteForm" method="post" action="@Url.Action("Delete", "Event")">
        <div class="pt-4 mt-3" style="text-align:center">
            <div asp-validation-summary="All">
                <div class="row pb-2">
                    <h3 class="text-primary"> Delete Event</h3>
                    <hr />
                    <ul style="list-style-type:none;">
                        <li>
                            <input hidden asp-for="EvId" />
                            <input disabled asp-for="EvShortDescription" class="form-divided" placeholder="Event Short Description"/>
                            <span asp-validation-for="EvShortDescription" class="text-danger"></span>

                        </li>
                        <br />
                        <li>
                            <Label>  Event Type</Label>
                            <select disabled asp-for="EvType" class="form-divided">
                                <option value="Golf Round">Golf Round</option>
                                <option value="Golf Dinner">Golf Dinner</option>
                            </select>
                        
                            <Label>  Event Date</Label>
                            <input type="Date" disabled asp-for="EvDate" class="field-divided" placeholder="Event Date" size="50" />
                            <span asp-validation-for="EvDate" class="text-danger"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary form-control" onclick="confirmDelete()">
                <i class="bi bi-trash-fill"></i> Delete
            </button>
            <div class="col-6">
                <a asp asp-controller="Event" asp-action="Index" class="btn btn-secondary form-control">
                    Back to List
                </a>
            </div>
        </div>
    </form>
</div>
@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}









