@using Models
@model Event
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <style>
        input, select, textarea {
            font-weight: 500;
            color: #325d88;
        }

        .form-label {
            font-weight: bold;
        }
    </style>

    <div class="container mt-4">
        <form method="post">
            <div class="text-center mb-4">
                <h3 class="text-primary">@((Model.EvId != 0) ? "Update" : "Add a") Event</h3>
                <hr />
            </div>

            <div asp-validation-summary="All" class="text-danger mb-3"></div>

            <input type="hidden" asp-for="EvId" />

            <div class="form-group">
                <input asp-for="EvShortDescription" class="form-control" placeholder="Event Short Description" />
                <span asp-validation-for="EvShortDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="EvLocation" class="form-control" placeholder="Event Location" />
                <span asp-validation-for="EvLocation" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="EvType" class="form-label">Event Type</label>
                    <select asp-for="EvType" class="form-control">
                        <option value="Golf Round">Golf Round</option>
                        <option value="Golf Dinner">Golf Dinner</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EvDate" class="form-label">Event Start Date</label>
                    <input type="date" asp-for="EvDate" class="form-control" />
                    <span asp-validation-for="EvDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="EvTime" class="form-label">Event Start Time</label>
                    <input type="time" asp-for="EvTime" class="form-control" />
                    <span asp-validation-for="EvTime" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EvEndDate" class="form-label">Event End Date</label>
                    <input type="date" asp-for="EvEndDate" class="form-control" />
                    <span asp-validation-for="EvEndDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="EvEndTime" class="form-label">Event End Time</label>
                    <input type="time" asp-for="EvEndTime" class="form-control" />
                    <span asp-validation-for="EvEndTime" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EvRegMethod" class="form-label">Registration Method</label>
                    <select asp-for="EvRegMethod" class="form-control">
                        <option value="Email">Email</option>
                        <option value="Phone">Phone</option>
                        <option value="Both">Both</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="EvRegStartDate" class="form-label">Registration Start Date</label>
                    <input type="date" asp-for="EvRegStartDate" class="form-control" />
                    <span asp-validation-for="EvRegStartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EvRegStartTime" class="form-label">Registration Start Time</label>
                    <input type="time" asp-for="EvRegStartTime" class="form-control" />
                    <span asp-validation-for="EvRegStartTime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="EvRegEndDate" class="form-label">Registration End Date</label>
                    <input type="date" asp-for="EvRegEndDate" class="form-control" />
                    <span asp-validation-for="EvRegEndDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EvRegEndTime" class="form-label">Registration End Time</label>
                    <input type="time" asp-for="EvRegEndTime" class="form-control" />
                    <span asp-validation-for="EvRegEndTime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="EvFeeAmount" class="form-label">Price per Participant</label>
                <input asp-for="EvFeeAmount" class="form-control" placeholder="Price" />
                <span asp-validation-for="EvFeeAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EvRegComment" class="form-label">Instructions / Comments</label>
                <input asp-for="EvRegComment" class="form-control" placeholder="Registration Comment" />
                <span asp-validation-for="EvRegComment" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="EvContactFName" class="form-label">Contact First Name</label>
                    <input asp-for="EvContactFName" class="form-control" placeholder="First Name" />
                    <span asp-validation-for="EvContactFName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EvContactLName" class="form-label">Contact Last Name</label>
                    <input asp-for="EvContactLName" class="form-control" placeholder="Last Name" />
                    <span asp-validation-for="EvContactLName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="EvContactEmail" class="form-label">Contact Email</label>
                <input asp-for="EvContactEmail" class="form-control" placeholder="Email" />
                <span asp-validation-for="EvContactEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EvContactPhoneNumber" class="form-label">Contact Phone Number</label>
                <input asp-for="EvContactPhoneNumber" class="form-control" placeholder="Phone Number" />
                <span asp-validation-for="EvContactPhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EvDescription" class="form-label">Event Description</label>
                <textarea id="summernote" name="EvDescription" class="form-control" asp-for="EvDescription"></textarea>
                <span asp-validation-for="EvDescription" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Event" asp-action="EventParticipant" asp-route-EvId="@Model.EvId" class="btn btn-primary btn-block">Add Participants</a>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Event" asp-action="EventEmail" asp-route-EvId="@Model.EvId" class="btn btn-primary btn-block">Email Event</a>
                </div>
            </div>
        </form>
    </div>

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#summernote').summernote({
                    placeholder: 'Create Event',
                    height: 150,
                    minHeight: null,
                    maxHeight: null,
                    focus: true,
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'italic', 'underline', 'clear']],
                        ['fontname', ['fontname']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']],
                        ['insert', ['picture', 'link', 'video']],
                        ['table', ['table']],
                        ['view', ['fullscreen', 'codeview']],
                    ]
                });
            });
        </script>
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }

