@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @if (Model.ErrorMessage == "The user is not registered")
        {
            <p id="external-login-description" class="text-info">
                You've successfully authenticated.
                Please click <a href="/Register" class="w-100 btn btn-lg btn-primary">Register</a>
                to finish logging in.
            </p>
        }
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
