@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
        Please check your email to confirm your email account.
        Upon confirmation you will be able to log into your account.
</p>
    

