@model GolfPlayer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<partial name="pvNotification" />

<div class="container-fluid" style="margin-top: -50px; text-align: center">
    <form method="post">
        <div class="pt-4 mt-3">
            <div asp-validation-summary="All">
                <div class="row pb-2" >
                    <h3 style="text-align:center">@ViewBag.GCName -  @ViewBag.GRDate</h3>
                    <h3 style="text-align:center">Delete a Golf Player</h3>
                    <hr />
                        <ul style="list-style-type:none;">
                           <li>
                                <input disabled asp-for="@Model.Member.FullName" class="field-divided">
                                <input disabled asp-for="GPType">
                            </li>
                            <br />
                            @if (Model.GPType == "Guest")
                            {
                                <li>
                                <input disabled asp-for="GPFName" class="col-xs-3" placeholder="Guest First Name" size="15" />
                                <span asp-validation-for="GPFName" class="text-danger"></span>
                                <input disabled asp-for="GPLName" class="col-xs-4" placeholder="Guest Last Name" size="15" />
                                <span asp-validation-for="GPLName" class="text-danger"></span>
                                </li>
                            }
                        </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" style="text-align:center">
                <button type="submit" class="btn btn-primary form-control">Delete Player</button>
            </div>
            <div class="col-6" style="text-align:center">
                <a asp-controller="GolfPlayer" asp-action="Index" asp-route-GGId=@ViewBag.GGId
                    class="btn btn-secondary form-control">
                    Back to List</a>
            </div>
        </div>
     </form>
  </div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}