@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="container text-center" style="margin-top: -50px">
    <h3 class="mb-4">@ViewData["Title"]</h3>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <p class="small">
                Your account contains personal data that you have provided to us. This page allows you to download or delete that data.
            </p>
            <p class="small">
                <strong>Warning: Deleting this data will permanently remove your account, and this action cannot be undone.</strong>
            </p>
            <div class="mb-3">
                <form id="download-data" asp-page="DownloadPersonalData" method="post">
                    <button class="btn btn-primary btn-sm w-100" type="submit">Download Data</button>
                </form>
            </div>
            <div>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger btn-sm w-100">Delete Account</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

