@using Azure.Core;
@using Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="no-cache, no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Golf League Wizard</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css" />
    <link rel="stylesheet" href="~/css/myboot.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-social.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-black border-bottom box-shadow mb-5">
            <div class="container-fluid">
                @if (SD.LeagueName == null)
                {
                    SD.LeagueName = "Golf League Wizard";
                }
                <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <img src="~/GLW.png" style="height:50px; margin-bottom: -12px" /> @SD.LeagueName
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link text-light" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-light" asp-area="Admin" asp-controller="League" asp-action="Index">League</a></li>
                        <li class="nav-item"><a class="nav-link text-light" asp-area="Admin" asp-controller="Member" asp-action="Index">Members</a></li>
                        <li class="nav-item"><a class="nav-link text-light" asp-area="Admin" asp-controller="Event" asp-action="Index">Events</a></li>
                        <li class="nav-item"><a class="nav-link text-light" asp-area="Admin" asp-controller="GolfRound" asp-action="Index">Rounds</a></li>
                        <li class="nav-item"><a class="nav-link text-light" asp-area="Admin" asp-controller="GolfCourse" asp-action="Index">Courses</a></li>
                        <li class="nav-item"><a class="nav-link text-light" asp-area="Admin" asp-controller="Stats" asp-action="Index">Stats</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        <partial name="pvNotification" />
        @RenderBody()
    </main>
    <footer class="border-top footer text-white bg-dark" style="height:30px; position:fixed; bottom:0px; width:100%; text-align:left; font-size:smaller" >
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:smaller">&copy; 2024 GolfLeagueWizard LLC. All rights reserved.</p>
                    </div>
                <div class="col-md-6 text-md-end" style="text-decoration: none; color: white; font-size:smaller;" >
                    <ul class="list-inline" >
                        <li class="list-inline-item"><a href="~/Identity/Account/PrivacyPolicy" class="footer-link">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="~/Identity/Account/TermsOfService" class="footer-link">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>


    <!-- Additional Scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://c.dn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
